<html>
<head>
    <title>Gallery</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">

</head>

<style>


    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .split {
        height: 70vh;
        width: 50%;
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
        background-color: #3f51b5 !important;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .bottom {
        position: relative;
        top: 72vh;
    }

    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }


    .card.light-version .file-field input[type=text] {
        border-bottom: 1px solid #fff;
    }

    .card.light-version .file-field input[type=text]::-webkit-input-placeholder {
        color: #fff;
        font-weight: 300;
    }

    .card.light-version .file-field input[type=text]::-moz-placeholder {
        color: #fff;
        font-weight: 300;
    }

    .card.light-version .file-field input[type=text]:-ms-input-placeholder {
        color: #fff;
        font-weight: 300;
    }

    .card.light-version .file-field input[type=text]::placeholder {
        color: #fff;
        font-weight: 300;
    }

    .card.light-version .file-field input[type=text]:focus:not([readonly]) {
        -webkit-box-shadow: 0 1px 0 0 #fff;
        box-shadow: 0 1px 0 0 #fff;
    }

    .card.light-version .file-field input[type=text].valid {
        border-bottom: 1px solid #00c851;
        -webkit-box-shadow: 0 1px 0 0 #00c851;
        box-shadow: 0 1px 0 0 #00c851;
    }

    .card.light-version .file-field input[type=text]:focus.valid {
        border-bottom: 1px solid #00c851;
        -webkit-box-shadow: 0 1px 0 0 #00c851;
        box-shadow: 0 1px 0 0 #00c851;
    }

</style>

<body>
<!--Card-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">Gallery Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/gallery_image">Gallery Image <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/video_manager">Video Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audio_manager">Audio Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/webchat">Webchat</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <form class="split left" action="/api/file" method="POST" enctype="multipart/form-data">
        <div class="centered file-field">
            <div style="margin-bottom: 50px;" class="btn btn-outline-white waves-effect btn-sm">
                <span>Choose file<i class="fas fa-cloud-upload-alt ml-3" aria-hidden="true"></i></span>
                <input name="singleupload" type="file">
            </div>
            <div class="file-path-wrapper">
                <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                    Upload your file
                </button>
            </div>
        </div>
    </form>


    <form class="split right" action="/api/files" method="POST" enctype="multipart/form-data">
        <div class="centered file-field">
            <div style="margin-bottom: 50px;" class="btn btn-outline-white btn-rounded waves-effect btn-sm">
                <span>Choose files<i class="fas fa-cloud-upload-alt ml-3" aria-hidden="true"></i></span>
                <input name="multipleupload" type="file" multiple>
            </div>
            <div class="file-path-wrapper">
                <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                        autocomplete="off">
                    Upload one or more files
                </button>
            </div>
        </div>
    </form>


</div>


<div class="bottom">

    <h3 style="color:red;"><%= typeof msg != 'undefined' ? msg : '' %></h3>

    <h1>Galerie</h1>
    <% images.forEach(function(image) { %>
    <a href="../public/files/<%=image %>" target="_blank"><img src="../public/files/<%= image %>"
                                                        style="width: 24.6vw; height: 500px;" alt="Reload the page! Building failed" /></a>
    <% }); %>

</div>

</body>
</html>